/synk
/result
/result-*
/.direnv
/.nix-dev
/coverage.out
/dist/

# makepkg artifacts
/packaging/aur/pkg/
/packaging/aur/src/
/packaging/aur/.SRCINFO
/packaging/aur/*.tar.gz
/packaging/aur/*.pkg.tar.*
